:root {
  --main-color: #B4CBD9;
  --accent-color: #b00000;
  --dark-main-color: #333;
  --light-main-color: #fff;
  --gray-main-color: #ececec;
  --large-width: 1000px;
  --middle-width: 800px;
  --small-width:600px;
}

.jp{
  display: none;
}

/* --------------------------------- */
/* conA */

.conA {
  position: relative;
  overflow: hidden;
}

.conA,
.conA__image{
  width: 100vw;
  min-height: 1080px;
  height: 100%;
}

.conA__image{

    position: absolute;
    top: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: anime 10s 0s infinite;
    z-index: -1;
    opacity: 0;
}

.img1 {
  background-image: url(../img/top__viewA.png);
}
.img2 {
  background-image: url(../img/top__viewB.png);
  animation-delay: 5s;
}

@keyframes anime {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  60% {
      opacity: 0;

      z-index: 10;
}
  100% {
      opacity: 0;
  }
}


/* conA */
/* --------------------------------- */
/* conB */

.title,
.title_center,
.subtitle{
  text-transform: capitalize;
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-style: normal;
}

.title{
  font-size: 60px;
}

.title_center{
  font-size: 60px;
  text-align: center;
}

.subtitle{
  font-size: 30px;
}

.conB__text h2,
.conB__text p{
  text-align: left;
}



/* conB*/
/* --------------------------------- */
/* conC */

.conC__text h2,
.conC__text p{
  text-align: left;
}

.more{
  text-align: center;
  font-family: "playfair-display", serif;
  font-weight: 300;
  font-style: normal;
}

.history__cap__title{
  font-size: 60px;
}

.history__cap__title,
.history_cap{
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.right{
  text-align: right;
  width: 350px;
}

.left{
  text-align: left;
  width: 350px;
  margin:0 56% ;
}

.history__item {
  display: block;
  max-width: 100vw!important;
  width: 100%;
}

/* 偶数のみ反転 */
.history__item:nth-child(even) {
 
}

.history__img {
 margin: 0 -3rem;
}


/* oval */
.history__item:before {
  border-radius: 50%;

  content: "";
  width: 8px;
  height: 8px;

  background: var(--dark-main-color);
  position: absolute;
  transform: translateX(-50%);
}


/* line */
.history:before {
  content: "";
  width: 1px;
  height: 303%;
  background: var(--dark-main-color);
  position: absolute;
  transform: translateX(-50%);
}

/* lineの先 */
.history__item:last-child {
  padding-bottom: 15px;
}

.history__item:last-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background: none;
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  border-left: 1px solid var(--dark-main-color);
  border-bottom: 1px solid var(--dark-main-color);
}


/* line + ovalの位置調整 */
.history::before,
.history__item:before,
.history__item:last-child:after{
  left: 50%;
}


/* conc */
/* --------------------------------- */
/* conD */

.conD{
  background-image: url(../img/photoA.png);
  width: 100vw;
  min-height: 1000px;
  top: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.conD__text{
  width: 60%;
  display: block;
  text-align: left!important;
  color: var(--light-main-color);
  margin: 0 auto;
  position: absolute;
	top: 20%;
  left: 20%;
  
}

/* conD */
/* --------------------------------- */
/* conE */

.conE__subtitle{
  text-align: center;
}

.conE__box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.conE__image{
  width:25% ;
}











/* conE */
/* --------------------------------- */
/* conG */

.conG__box{
  display: flex; 
}

.conG__text{
  position: relative;
  text-align: left!important;
}

.conG__text img{
  position: absolute;
  top:68%;
  left: 42%;
  width:50%;
  height: fit-content;
}

.conG__image{
  margin: 8rem 0;
  width:50%;
  height: fit-content;
}

/* conG */
/* --------------------------------- */
/* conH */

/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin:0 auto;
  padding: 0;
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title2 {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title2::before,
.title2::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: var(--dark-main-color);
  top:48%;
  left:832px;
  
}
.title2::before{
  transform: rotate(0deg);
  
}
.title2::after{    
  transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title2.close::before{
transform: rotate(45deg);
}

.title2.close::after{
transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: var(--gray-main-color);
  margin:0 3% 3% 3%;
  padding: 3%;
}

/* conH */
/* --------------------------------- */
/* conI */

.conI{

}

.slider{
  overflow: hidden;
  height: 300px;
}

.slick-img{
  height: 350px;
}

.slick-img img{
  width: 130%;
}

  
.sns__list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sns__item a {
  /* aタグにmarginは効かないから一度ブロックにする必要あり  */
  text-decoration: none;
  font-size: 42px;
  color: var(--dark-main-color);
}

.sns__item:last-child a {
  margin-right: 0;
}

.sns__item a:hover{
    background-color:rgba(51,51,51,0.1) ;
}

.accsent{
  color: var(--accent-color);
}

/* conI */
/* --------------------------------- */