:root {
  --main-color: #B4CBD9;
  --accent-color: #b00000;
  --dark-main-color: #333;
  --light-main-color: #fff;
  --gray-main-color: #ececec;
  --large-width: 1000px;
  --middle-width: 800px;
  --small-width:600px;
}

.jp{
  display: none;
}

/* --------------------------------- */
/* conA */



.conA {
  position: relative;
}

.conA,
.conA__image{
  min-height: 1080px;
  height: 150vh;
}

.loading {
  width: 100vw;
  height: 120vh;
  transition: all 1s;
  background-image: url(../img/top__viewA.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}


.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-image: url(../img/top__viewB.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 30%;
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

.conA__box{
  display: block;

}


.ticket__btn,
.ticket__btn a{
  color:var(--dark-main-color);
  background-color:var(--light-main-color);
}

.conA__box{
  display: grid;
  position: absolute;
  top: 15%;
  left: 70%;
  z-index: 99;
}

.conA__box p{
  color: var(--light-main-color);
}

.btn,
.btn a,
.btn button{
  padding: 1rem 4rem;
  line-height: 1.5;
  width: 10rem;
}

.btn,
.btn a,
.btn button,
.conA__box p{
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5rem;
  text-align: center;
  
}

/* conA */
/* --------------------------------- */
/* conB */

.title,
.title_center,
.subtitle{
  text-transform: capitalize;
  font-family: "playfair-display", serif;
  font-weight: 900;
  font-style: normal;
}

.title{
  font-size: 60px;
}

.title_center{
  font-size: 60px;
  text-align: center;
}

.subtitle{
  font-size: 30px;
}

.conB__text h2,
.conB__text p{
  text-align: left;
}

.conB a.anchor{
  display: block;
  padding-top: 100px;
  margin-top: -100px;
}



/* conB*/
/* --------------------------------- */
/* conC */

.history .container{
  width: var(--small-width);
  margin: 0 auto;
}

.conC__text h2,
.conC__text p{
  text-align: left;
}

.history{
  position: relative;
}

.more{
  text-align: center;
  font-family: "playfair-display", serif;
  font-weight: 300;
  font-style: normal;
}

.history__cap__title{
  font-size: 60px;
}

.history__cap__title,
.history_cap{
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.right{
  text-align: right;
  width: 275px;
  margin: 0;
}

.left{
  text-align: left;
  width: 275px;
  margin:0 120% ;
}

.history__item {
  display: block;
  max-width: 100vw!important;
  width: 275px;
}

.history__img {
 max-width: 100%;
 display: block;
}





/* oval */
.history__item:before {
  border-radius: 50%;

  content: "";
  width: 8px;
  height: 8px;

  background: var(--dark-main-color);
  position: absolute;
  transform: translateX(-50%);
}


/* line */
.history:before {
  content: "";
  width: 1px;
  height: 100%;
  background: var(--dark-main-color);
  position: absolute;
  transform: translateX(-50%);
}

/* lineの先 */
.history__item:last-child {
  padding-bottom: 15px;
}

.history__item:last-child:after {
  content: "";
  width: 6px;
  height: 6px;
  background: none;
  position: absolute;
  transform: translateX(-50%) rotate(-45deg);
  border-left: 1px solid var(--dark-main-color);
  border-bottom: 1px solid var(--dark-main-color);
  bottom: 0;
}


/* line + ovalの位置調整 */
.history__item:before, 
.history:before, 
.history__item:last-child:after {
  left: 50% ;
}

/* conc */
/* --------------------------------- */
/* conD */

.conD{
  background-image: url(../img/photoA.png);
  width: 100vw;
  min-height: 1000px;
  top: 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.conD__text{
  width: 60%;
  display: block;
  text-align: left!important;
  color: var(--light-main-color);
  margin: 0 auto;
  position: absolute;
	top: 20%;
  left: 20%;
  
}

/* conD */
/* --------------------------------- */
/* conE */

.conE__subtitle{
  text-align: center;
}

.conE__box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.conE__image{
  width:25% ;
}











/* conE */
/* --------------------------------- */
/* conG */

.conG__box{
  display: flex; 
}

.conG__text{
  text-align: left!important;
  flex-basis:50%; 
}

.conG__image{
  display: block;
  flex-basis:50%; 
}

.conG__image2{
  width: 55%;
  height: auto;
}

.conG__image1{
  margin-top: 5rem;
  width: 100%;
  height: auto;
}

/* conG */
/* --------------------------------- */
/* conH */

/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin:0 auto;
  padding: 0;
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
border: 1px solid #ccc;
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: var(--gray-main-color);
  margin:0 3% 3% 3%;
  padding: 3%;
}

/*アコーディオンタイトル*/
.title2 {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title2::before,
.title2::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: var(--dark-main-color);
  top:48%;
  left:832px;
  
}
.title2::before{
  transform: rotate(0deg);
  
}
.title2::after{    
  transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title2.close::before{
transform: rotate(45deg);
}

.title2.close::after{
transform: rotate(-45deg);
}

.conH__box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

/* conH */
/* --------------------------------- */
/* conI */

.slider{
  overflow: hidden;
  height: 250px;
}

.slick-img{
  height: 350px;
}

.slick-img img{
  width: 150%;
}

  
.sns__list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sns__item a {
  /* aタグにmarginは効かないから一度ブロックにする必要あり  */
  text-decoration: none;
  font-size: 42px;
  color: var(--dark-main-color);
}

.sns__item:last-child a {
  margin-right: 0;
}

.sns__item a:hover{
    background-color:rgba(51,51,51,0.1) ;
}

.accsent{
  color: var(--accent-color);
}

/* conI */
/* --------------------------------- */
/* conK */

.conK p,
.conK table{
  color: var(--light-main-color);
  text-align: center;
  margin:0 auto;
}

.conK table{
  padding-top: 1rem;
}

.conK__box{
  background-image: url(../img/frm.jpg);
  min-height: 550px;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
}

form {
  width: 50%;
  margin: 0 auto;
  min-width: 9rem;
  display: block;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background: var(--gray-main-color);
  color: var(--dark-main-color)
}

  textarea {
    height: 10rem;
    resize: vertical;
  }

  .frm__btn{
    width: 50%;
  }


/* conK */
/* --------------------------------- */
/* conL */